
@font-face {
    font-family: 'ekfonts-light';
    src: url('ek03plain-l01-webfont.eot');
    src: url('ek03plain-l01-webfont.eot?#iefix') format('embedded-opentype'),
         url('ek03plain-l01-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ekfonts';
    src: url('ek03plain-m01-webfont.eot');
    src: url('ek03plain-m01-webfont.eot?#iefix') format('embedded-opentype'),
         url('ek03plain-m01-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ekfonts-bold';
    src: url('ek03plain-b01-webfont.eot');
    src: url('ek03plain-b01-webfont.eot?#iefix') format('embedded-opentype'),         
         url('ek03plain-b01-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'segoe-ui-bold';
    src: url('segoeuib-webfont.eot');
    src: url('segoeuib-webfont.eot?#iefix') format('embedded-opentype'),
         url('segoeuib-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'segoe-ui';
    src: url('segoeui-webfont.eot');
    src: url('segoeui-webfont.eot?#iefix') format('embedded-opentype'),
         url('segoeui-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}